[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastRhockey"]
	path = fastRhockey
	url = https://github.com/sportsdataverse/fastrhockey
[submodule "hoopR"]
	path = hoopR
	url = https://github.com/sportsdataverse/hoopr
[submodule "oddsapiR"]
	path = oddsapiR
	url = https://github.com/sportsdataverse/oddsapir
[submodule "sportyR"]
	path = sportyR
	url = https://github.com/sportsdataverse/sportyr
[submodule "wehoop"]
	path = wehoop
	url = https://github.com/sportsdataverse/wehoop
